<footer class="bg-dark text-center text-white">
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   Created By <a class="text-white" href="https://allmylinks.com/md-fahad-ali">Fahad Ali</a>
  </div>
</footer>